@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
*{
  margin:0;
  padding:0;
  text-decoration:none;
  list-style:none;
  font-family: 'Rubik';
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.woff2') format('woff2'),
        url('../fonts/Rubik-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Black.woff2') format('woff2'),
        url('../fonts/Rubik-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-ExtraBold.woff2') format('woff2'),
        url('../fonts/Rubik-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



/* Scroll Bar Css Starts */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 20px;
  border-radius: 0;
  background: #292929;
  border: 2px solid #ffffff;
  width: 8px;
}
::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #616161;
}
/* Scroll Bar Css Ends */

/*Comman Css*/
a:hover,
a:focus,
a:active{
  text-decoration: none;
}
ol, ul{
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
body{
  font-size: 14px;
  font-weight: normal;
  font-family: 'Rubik';
  color: #000;
  text-decoration: none;
  scroll-behavior: smooth;
}
p{
  font-size: 18px;
  font-weight: normal;
  color: #2B2A29;
  line-height: 28px;
}

@media(min-width:992px){
  .serivce-wrap>.row>.col-md-4:nth-child(3n+1){
    clear: left;
  }
}

footer.section{
  height: auto;
  min-height: auto;
}
/*End Comman Css*/

/* Navigation*/ 
.navbar{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  height: auto;
  border: none;
  margin: 0;
  padding: 20px 0px;
  z-index: 120;
  background: transparent;
}
.navbar-brand{
  padding: 0;
  height: auto;
}
.navbar-brand img{
  width: auto;
}
.navbar .navbar-collapse{
  padding: 0;
}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand{
  margin-left: 0;
}
.navbar .navbar-nav{
  margin: 0 auto;
  margin-right: 0;
  width: -webkit-fill-available
}
.navbar .nav-right{
  float: none;
  margin: 0;
}
.navbar-nav-outer{
  flex-direction: row-reverse !important;
}
.navbar-nav-inner{
  justify-content: center;
      position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.navbar .navbar-nav>li{
    margin-right: 25px;
    position: relative;
    text-align: center;
    min-width: 180px;
}
.navbar .navbar-nav .nav-item.dropdown{
    min-width: 180px;
}
.navbar .navbar-nav-outer>li:last-child{
    margin-right: 0;
}

.navbar .navbar-nav>li>a{
  align-items: center;
  display: block;
  padding: 10px;
  color: #fff;
  border-radius: 0;
  border: none;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
}
.navbar .navbar-nav>li>a i{
  margin-right: 8px;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.navbar .navbar-nav>.open>a,
.navbar .navbar-nav>.open>a:focus,
.navbar .navbar-nav>.open>a:hover,
.navbar .navbar-nav>li>a:focus,
.navbar.navbar-nav>li>a:hover{
  color: #fff;
  background-color: transparent;
}
.navbar .navbar-nav>li>a:hover{
  color: #fff;
}
.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover{
  color: #ec1a22;
  border-radius: 0;
  background-color: transparent;
}
.navbar-nav>li.dropdown .dropdown-toggle{
  background-image: url('../images/shape/nav-list-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
    /*  min-width: 160px;*/
}
.navbar-nav>li>.dropdown-toggle::after{
  display: none;
}
.navbar-nav>li>.dropdown-menu{
  padding: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 108px;
  margin-left: 0;
  border-radius: 10px;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
  background-color: transparent;
  transition: all 0.4s ease;
  border-color: transparent;
}
.navbar-nav>li>.dropdown-menu a{
  font-size: 14px;
  font-weight: 300;
  padding: 5px 15px;
  color: #fff;
  -webkit-transition: .4s linear;
  -moz-transition: .4s linear;
  -ms-transition: .4s linear;
  transition: .4s linear;
  transition: all 0.4s ease;
  text-align: center;
  background-image: url('../images/shape/nav-drop-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
   min-width: 140px;
}
.navbar-nav>li>.dropdown-menu a:focus,
.navbar-nav>li>.dropdown-menu a:hover{
  background-color: transparent;
  color: #000;
}

/* Toggle */
.navbar-toggler{
  border-bottom: 2px solid #129c32;
  margin-right: 15px;
  display: flex;
  padding: 10px;
  transition: all 0.4s ease;
  flex-flow: column;
}
.navbar-toggler:focus,
.navbar-toggler:hover{
  outline: none;
}
.navbar-toggler .navbar-toggler-icon{
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background-color: #014110;
  transition: all 0.4s ease;
}
.navbar-toggler .navbar-toggler-icon:last-child{
  margin-bottom: 0;
}
/*End Navigation*/

/* Index */
/* Banner */
.banner-container{
  width: 100%;
  display: block;
  position: relative;
  padding-top: 230px;
  min-height: 100vh;
  background-image: url('../images/banner-bg.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
.banner-wrapper{
  width: 100%;
  display: block;
  padding: 0px 0 80px;
}
.btn-main-list{
  width: 600px;
  max-width: 100%;
  margin: 20px auto 0;
  display: block;
}
.btn-main-list li{
  float: left;
  margin-right: 3%;
}
.btn-main-list li:last-child{
  margin-right: 0;
}
.btn-main-list li .btn-main{
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  display: table;
  padding: 10px 20px;
  text-align: center;
  background-image: url('../images/shape/btn-01.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
  
}

@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.btn-main-list li .btn-main:hover{
  box-shadow: inset 0px 10px 20px rgb(0 0 0 / 40%);

  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
.btn-main-list li:nth-child(2) .btn-main{
  background-image: url('../images/shape/btn-02.png');

  -webkit-animation: float 8s ease-in-out infinite;
          animation: float 8s ease-in-out infinite;
}
.btn-main-list li:last-child .btn-main{
  background-image: url('../images/shape/btn-03.png');
  -webkit-animation: float 10s ease-in-out infinite;
          animation: float 10s ease-in-out infinite;
}

.banner-details{
  width: 100%;
  display: block;
}
.banner-details h1{
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
}

.bannre-img{
  width: 100%;
  display: block;
}
.bannre-img img{
  width: 100%;
}
/* End Banner */

/* Our Contact */
.our-contact{
  width: 100%;
  display: block;
  position: relative;
  margin-top: -332px;
  background: url('../images/cotnact-bg.png') center ;
      background-repeat: no-repeat;
    background-size: cover;
}
.contact-bk{
  width: 100%;
  display: block;
  position: relative;
}
.contact-bk img{
  width: 100%;
  opacity: 0;
}
.contact-wrap{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  padding: 100px 0;
}
.contact-wrapper{
  width: 852px;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
  align-items: center;
  text-align: center;
  min-height: 450px;
  background-image: url('../images/contact-img.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.contact-details{
  width: 100%;
  display: block;
}
.contact-details h2{
  font-size: 40px;
  font-weight: bold;
  color: #4e2b13;
  margin: 0 0 30px;
}
.contact-details h4{
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  display: table;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: inset 3px 0 6px rgba(0,0,0,0.17); 
  background-color: #54341e;
}
.contact-details p{
  font-size: 16px;
  font-weight: bold;
  color: #50311c;
  margin-bottom: 0;
}
.contact-details h5{
  font-size: 16px;
  font-weight: bold;
  color: #50311c;
  margin: 0;
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}
/* End Our Contact */


































#Clouds {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 30%;
  overflow: hidden;
  -webkit-animation: FadeIn 3s ease-out;
          animation: FadeIn 3s ease-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
          transform: translateY(-100%);
}

@keyframes FadeIn {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 1;
  }
}
.Cloud {
  position: absolute;
  width: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 70px;
  -webkit-animation-duration: 120s;
          animation-duration: 120s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-name: Float, FadeFloat;
          animation-name: Float, FadeFloat;
  z-index: 1;
}
.Cloud.Foreground {
  height: 10%;
  min-height: 20px;
  z-index: 3;
}
.Cloud.Background {
  height: 9.09090909%;
  min-height: 8px;
  -webkit-animation-duration: 210s;
          animation-duration: 210s;
}

@keyframes Float {
  from {
    transform: translateX(100%) translateZ(0);
  }
  to {
    transform: translateX(-15%) translateZ(0);
  }
}

@keyframes FadeFloat {
  0%,
  100% {
    opacity: 0.6;
  }
  5%,
  90% {
    opacity: 1;
  }
}

.Cloud:nth-child(7) {
  -webkit-animation-delay: -129.23076923s;
          animation-delay: -129.23076923s;
  top: 42%;
}
.Cloud.Foreground:nth-child(7) {
  -webkit-animation-duration: 92s;
          animation-duration: 92s;
  height: 27.5%;
}
.Cloud.Background:nth-child(7) {
  -webkit-animation-duration: 122s;
          animation-duration: 122s;
  height: 0.34090909%;
}
.Cloud:nth-child(6) {
  -webkit-animation-delay: -110.76923077s;
          animation-delay: -110.76923077s;
  top: 36%;
}
.Cloud.Foreground:nth-child(6) {
  -webkit-animation-duration: 96s;
          animation-duration: 96s;
  height: 25%;
}
.Cloud.Background:nth-child(6) {
  -webkit-animation-duration: 126s;
          animation-duration: 126s;
  height: 1.59090909%;
}
.Cloud:nth-child(5) {
  -webkit-animation-delay: -92.30769231s;
          animation-delay: -92.30769231s;
  top: 30%;
}
.Cloud.Foreground:nth-child(5) {
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  height: 22.5%;
}
.Cloud.Background:nth-child(5) {
  -webkit-animation-duration: 130s;
          animation-duration: 130s;
  height: 2.84090909%;
}
.Cloud:nth-child(4) {
  -webkit-animation-delay: -73.84615385s;
          animation-delay: -73.84615385s;
  top: 24%;
}
.Cloud.Foreground:nth-child(4) {
  -webkit-animation-duration: 104s;
          animation-duration: 104s;
  height: 20%;
}
.Cloud.Background:nth-child(4) {
  -webkit-animation-duration: 134s;
          animation-duration: 134s;
  height: 4.09090909%;
}
.Cloud:nth-child(3) {
  -webkit-animation-delay: -55.38461538s;
          animation-delay: -55.38461538s;
  top: 18%;
}
.Cloud.Foreground:nth-child(3) {
  -webkit-animation-duration: 108s;
          animation-duration: 108s;
  height: 17.5%;
}
.Cloud.Background:nth-child(3) {
  -webkit-animation-duration: 138s;
          animation-duration: 138s;
  height: 5.34090909%;
}
.Cloud:nth-child(2) {
  -webkit-animation-delay: -36.92307692s;
          animation-delay: -36.92307692s;
  top: 12%;
}
.Cloud.Foreground:nth-child(2) {
  -webkit-animation-duration: 112s;
          animation-duration: 112s;
  height: 15%;
}
.Cloud.Background:nth-child(2) {
  -webkit-animation-duration: 142s;
          animation-duration: 142s;
  height: 6.59090909%;
}
.Cloud:nth-child(1) {
  -webkit-animation-delay: -18.46153846s;
          animation-delay: -18.46153846s;
  top: 6%;
}
.Cloud.Foreground:nth-child(1) {
  -webkit-animation-duration: 116s;
          animation-duration: 116s;
  height: 12.5%;
}
.Cloud.Background:nth-child(1) {
  -webkit-animation-duration: 146s;
          animation-duration: 146s;
  height: 7.84090909%;
}
.Cloud {
  background-image: url('../images/c4.png');
}
.Cloud.Background {
  background-image: url('../images/c7.png');
}
